.list-layout {
    display: grid;
    grid-template-columns: max-content 1fr;
}

.tier-name__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.tier-items__container {
    border: 1px solid var(--border-color);
    display: flex;
    flex-wrap: wrap;
}

.list-items__container {
    min-width: 100%;
}

.list-items {
    width: 80px;
    height: 80px;
}

.list-items img {
    width: 100%;
    height: 100%;
}